#h
{
text-decoration:underline;
font-size:200%;
text-shadow: 2px 2px white;
}
.leftside
{
background:DarkSeaGreen;
color:white;
}
.rightside
{
background:MediumSlateBlue;
color:white;
font-size:110%;
}
ul
{
font-size:125%;
font-style:normal;
}
a
{
text-decoration:none;
color:white;
}
a:hover
{
color:MediumSlateBlue;
}
p
{
text-align:justify;
}